* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.navbar {
    display: flex;
    justify-content: flex-end; /* Positioniert den Button nach rechts */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.login-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #45a049;
}

.content {
    margin-top: 100px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #333;
}

p {
    font-size: 1.2rem;
    color: #555;
}
